<!-- days/show.html.erb -->

<h1><%= @day.name %></h1>

<%= @day.days_to(@day.date) %>

<%= @days_to %>

<%= @day.date.strftime("%B %d, %Y") %>

<%= @day.description %>

<%#= @user.id %>

<br><br>
<%= link_to "edit", edit_user_day_path(@user.id, @day.id) %>
<%= link_to "delete", @day, :method => "delete" %>
<!-- <a href="<%= @day.id %>/edit">edit</a> -->
edit delete

<%#= link_to day.name, user_day_path(@user.id, day.id) %>