<!-- days/show.html.erb -->

<!-- <h1><%= @day.name %></h1> -->

<div id="slim-container">
	<h2><%= @day.name %></h2>

	<div id="countdown-container">

		<span id="day"></span>
		<span id="hour"></span>
		<span id="minute"></span>
		<span id="second"></span>

	<p id="date"><%= @day.date %></p>
	</div>

<%= @day.days_to(@day.date) %>

<%= @days_to %>

<%= @day.date.strftime("%B %d, %Y") %>

<%= @day.description %>

<%#= @user.id %>

<br><br>
<%= link_to "edit", edit_user_day_path(@user.id, @day.id) %>
<%= link_to "delete", @day, :method => "delete" %>
<!-- <a href="<%= @day.id %>/edit">edit</a> -->

</div>
<%#= link_to day.name, user_day_path(@user.id, day.id) %>